.header {}

.headertitles {
    display: flex;
    align-items: center;



}

.tyewriter-text {
    background-image: radial-gradient(circle 300px at 8% 89.3%, rgba(20, 157, 208, 1) 0%, rgba(140, 63, 226, 1) 90%);
    font-family: 'Hanken Grotesk', sans-serif;


}

.headertitle1 {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 50px;
    letter-spacing: 0.2rem;

    font-family: 'Lato', sans-serif;
    z-index: 5;

}





.headertitle1 h1 {
    color: #504A4B;
    font-size: 65px;

}

.headertitle1 span {
    font-weight: 500;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);


    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.header img {
    height: 700px;
    width: 100%;
    object-fit: cover;


}